html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#app {
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    background: #eee;
    width: 150px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
    user-select: none;
    height: 100%;
}

.sidebar > div:first-child {
    flex: 1;
    padding: 5px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;
}

.sidebar ul li.active {
    background: #ddd;
}

.sidebar .actions {
    border-top: 1px solid #ccc;
    padding: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow-x: auto;
}

.content .toolbar {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    user-select: none;
}

.content .toolbar h1 {
    flex: 1;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

.content .toolbar .actions {
}

.box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content .log {
    flex: 1;
    overflow-y: scroll;
    padding-top: 5px;
    padding-bottom: 10px;

    font-family: monospace;

    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.content .log .line.raw:before {
    content: '→ ';
    color: #ccc;
}

.content .log .line.nowrap {
    white-space: nowrap;
    flex: 0 0 auto;
    padding: 0 5px;
    width: 100%;
}

.content.empty {
    flex-direction: row;
    align-items: center;
}

.drag-n-drop {
    width: 400px;
    background: #eee;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    margin: 0;
    padding: 10px 3px;
    cursor: pointer;
}

h1 span {
    display: block;
    font-size: 0.5em;
    user-select: none;
}
